@import "../styles/responsive.scss";

.main_postpage{
    min-height: 39vh;
}
.create-card{
    /* background: linear-gradient(white, white, #243b55); */
    background: white;
    border-radius: 10px;
    
    @include mobile-view-down{
        min-width: 300px;
    }
}
.btn{
    border-radius: 20px;
    border: 1px solid #243b55;
    background-color: #243b55;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    @include mobile-view-down{
        max-width: 120px;
        padding: 12px;
    }
}
.text-style{
    font-family: 'Montserrat', sans-serif;
    color: #243b55;
    @include tablet-view-down{
        text-align: center;
    }
    
}
textarea{
    min-block-size: 250px;
    background: #243b55;
    color: white;
    border: none;
    /* padding: 12px 15px;
    margin: 8px 0; */
    @include tablet-view-down{
        min-block-size: 350px;
        @include mobile-view-down{
            min-block-size: 500px;
        }
      }
}

.icons{
    :hover{
        background: #243b55;
        color: white;    
        border-color: #243b55;  
    }
}

.icons_active{
    display: none;
}

.img-load{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image_link{
    width: 100%;
    display: none;
    grid-template-columns: 3fr 1fr 1fr;
    transition: ease-in 1s;
}

.image_link input{
    background: #243b55;
    color: white;
    border: none;
    width: 100%;
    
}
    
.close-btn{
    cursor: pointer;
    transform: translateX(15px) translateY(-30px);
    }

#imageValued{
    width: 100%;
    
    @include tablet-view-down{
        flex-direction: column;
        min-width: 0;
        width: 90%;
        height: 150px;
    }

}

.small-btn {
    background-color: #243B55;
    color: white;
    padding: 5px;
    border-radius: 5px;
}