@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat");
.main_profile {
  width: 100%;
}

.main_profile .content {
  min-height: 50vh;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1025px) {
  .main_profile .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

.img_mgt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  z-index: 3;
}

@media screen and (max-width: 1025px) {
  .img_mgt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.avatar {
  width: 300px;
  min-height: 100px;
  background-color: #243b55;
  overflow: hidden;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-box-shadow: 2px 5px 20px #1d1d27;
          box-shadow: 2px 5px 20px #1d1d27;
  border-radius: 10px;
}

@media screen and (max-width: 1025px) {
  .avatar {
    border-radius: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .avatar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.img_avatar {
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (max-width: 1025px) {
  .img_avatar {
    border-radius: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .img_avatar {
    width: 80%;
  }
}

.add_btn {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(60px) translateX(20px);
          transform: translateY(60px) translateX(20px);
  z-index: 4;
}

@media screen and (max-width: 1025px) {
  .add_btn {
    width: 70px;
    height: 70px;
    -webkit-transform: translateY(-10px) translateX(calc(50vw - 35px));
            transform: translateY(-10px) translateX(calc(50vw - 35px));
    margin-top: -70px;
  }
  .add_btn i {
    font-size: 50px;
  }
}

.name {
  width: 500px;
  height: 300px;
  background-color: #ff8c00;
  opacity: 60%;
  z-index: 1;
  -webkit-transform: translateX(300px) translateY(250px);
          transform: translateX(300px) translateY(250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  padding-top: 50px;
  -webkit-box-shadow: 2px 5px 20px rgba(29, 29, 39, 0.6);
          box-shadow: 2px 5px 20px rgba(29, 29, 39, 0.6);
  border-radius: 10px;
}

@media screen and (max-width: 1025px) {
  .name {
    border-radius: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .name {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    width: 100%;
    height: 100%;
  }
}

.firstname {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #243b55;
  font-weight: bolder;
  letter-spacing: 5px;
}

.lastname {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  padding-left: 20px;
  color: #243b55;
  font-weight: bolder;
  letter-spacing: 5px;
}

.infos {
  width: 600px;
  height: 600px;
  z-index: 2;
  background-color: white;
  -webkit-transform: translateX(-100px) translatey(100px);
          transform: translateX(-100px) translatey(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 5px 20px rgba(29, 29, 39, 0.8);
          box-shadow: 2px 5px 20px rgba(29, 29, 39, 0.8);
  border-radius: 10px;
}

@media screen and (max-width: 1025px) {
  .infos {
    border-radius: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .infos {
    width: 100%;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: absolute;
  height: 100px;
  min-width: 400px;
  background-color: white;
}

@media screen and (max-width: 1025px) {
  .avatar_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    width: 90%;
    height: 150px;
  }
}

.avatar_link > * {
  margin: 5px;
}

.avatar_link input {
  min-width: 600px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .avatar_link input {
    min-width: 0;
    width: 90%;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #243b55;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  border-width: 10px;
  border-style: solid;
  border-color: #243b55;
  border-left: 0;
  border-right: 0;
}

p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 7px 0;
  color: #243b55;
}

.btn {
  border-radius: 20px;
  border: 1px solid #243b55;
  background-color: #243b55;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.btn:hover {
  text-decoration: none;
  font-weight: 1000;
}

input {
  background-color: #243b55;
  color: white;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
}

.close-btn {
  cursor: pointer;
  -webkit-transform: translateX(15px) translateY(-30px);
          transform: translateX(15px) translateY(-30px);
}

@media screen and (max-width: 1025px) {
  .close-btn {
    -webkit-transform: translateX(calc(45vw - 20px)) translateY(-147px);
            transform: translateX(calc(45vw - 20px)) translateY(-147px);
  }
}

@media screen and (max-width: 768px) {
  .close-btn {
    -webkit-transform: translateX(calc(45vw - 15px)) translateY(-140px);
            transform: translateX(calc(45vw - 15px)) translateY(-140px);
  }
}
/*# sourceMappingURL=profile.css.map */